

#MSOZoneCell_WebPartWPQ2{
  /* background: url(https://portal.golrang.com/PublishingImages/Feature-Hub-Copy-compressor.png) ;  */
 /* background: url(https://portal.golrang.com/PublishingImages/ima232ges.jpg) ; */
 /* background: url(https://portal.golrang.com/PublishingImages/Black-Background-Images.jpg)no-repeat ;  */
 background: url(https://portal.golrang.com/PublishingImages/630548.jpg) ; 
 }

#WebPartWPQ2_ChromeTitle,#pageTitle{
  display: none;
}
.k-widget 
{
  z-index:150 !important
}
.styleLog{
  background-image: linear-gradient(to bottom right, #f7f4f4, #940909);
  border-radius: 29px;
}
.styleDecision{
  background-image: linear-gradient(to bottom right, #d8ffff, #0072c6);
  border-radius: 29px;
}
 .k-window-titlebar ,.k-header {
  text-align: center;
} 

#FolderLog th,td{
  text-align: right
}
#FolderLogICT th,td{
  text-align: right
}
#FolderLogJAM th,td{
  text-align: right
}
#FolderLogAML th,td{
  text-align: right
}
#FolderLogREQ th,td{
  text-align: right
}
 #tableres2 th {
    text-align: right
}

.onvan{
    font-weight: bold;
}
/* #WebPartWPQ2{
  background-color: black;
} */
h3 {
    color: white;
    text-shadow: 1px 1px 2px rgb(233, 214, 45), 0 0 25px rgb(115, 115, 212), 0 0 5px rgb(64, 219, 134);
  }

 .k-window-titlebar span {

   /* background-color:white;*/
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration:3s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 3s;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    from {background-color: white;}
    to {background-color: gray;}
  }
  
  /* Standard syntax */
  @keyframes example {
    from {background-color: white;}
    to {background-color: gray;}
  }
  #message a{
    font-weight: bolder;
  color:blue;
  }



  .k-window-titlebar span {
  position: relative;
  -webkit-animation-name: k-window-titlebar; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  animation-name: k-window-titlebar;
  animation-duration: 4s;
  animation-delay: -2s;

}

  /* Safari 4.0 - 8.0 */
  
  @-webkit-keyframes k-window-titlebar {
    0%   { right:0px; top:0px;}
    25%  { right:200px; top:20px;}
    50%  { right:300px; top:40px;}
    75%  { right:400px; top:60px;}
    100% { right:0px; top:0px;}
  }
  
  /* Standard syntax */
  @keyframes k-window-titlebar {
    0%   { right:0px; top:0px;color:red}
    25%  { right:200px; top:0px;color:blue}
    50%  { right:300px; top:0px;}
    75%  { right:600px; top:0px;}
    100% { right:0px; top:0px;}
  }
  .moshakhast{
    background-image: linear-gradient(to right, rgba(255,0,0,0), #9270e2);
  }
  .moshakhast tr td :hover{
   color:gray;
  }
  #tableres{
    background-color: beige;
    background-image: linear-gradient(to bottom right, #a3bcf1, #f17356);
  }
  #tableres2{
    background-color: beige;
    background-image: linear-gradient(to bottom right, #d8ffff, #0072c6);

  }


